# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
**/*.log
**/*.jou

#Ignore lock files
.lock

*.bin
.pdi
.vitisWorkspace.json

**/_ide
**/.cache
.vscode/
**/build

1tee_saved/
1tee_saved.zip
platform_riscv
platform
xilinx-zynqmp-common*/
vivado_*/

*.pel2
*.elf
transcribe.txt
embench-iot/
