/* OPTIONAL: delete uart1 node for PL output */
/delete-node/ &uart1;

/ {
    chosen {
        bootargs = "earlycon console=ttyPS0,115200 root=/dev/mmcblk1p2 rootfstype=ext4 rootwait rw clk_ignore_unused uio_pdrv_genirq.of_id=generic-uio";
    };
};

&sdhci1 {
    status = "okay";
    no-1-8-v;        /* Critical: Force 3.3V only, no voltage switching */
    broken-cd;       /* Ignore card detect */
    disable-wp;
    cap-sd-highspeed;
};

&amba {
    ocm@fffc0000 {
        compatible = "generic-uio, uio, ui_pdrv";
        reg = <0x0 0xfffc0000 0x0 0x40000>; /* 256KB OCM */
        status = "okay";
    };
};